

.folder-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  min-height: 100%;
}


.folder-menu {
  width: 14rem;
  border: 0 !important;
}

.folder-toolbar {
  margin-bottom: 30px;
}

.folder-toolbar-search {
  display: flex !important;
  flex: 1 1 auto !important;
  align-items: center !important;
}

.folder-list-switch {
  display: none;
}


.folder-content {
  margin: 0 20px;
}



@media screen and (max-width: 1200px) {
  .folder-list-switch {
    display: flex;
  }
}
